
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body,html{
margin:0;
padding: 0;


}
.form-group {
    width: 90%;
}
.form-control {
    
    margin-left: 10%;
}
body {
    background-image: url("../images/background.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
form {
margin-top: 50px;
margin-left: 35%;
width: 25%;
padding-top: 2%;
padding-left: 25px ;
padding-right: 25px;
padding-bottom: 25px;
background-color:grey;
background-color: rgba(0,0,0,.6);

}
.mid {
    text-align: center;
}
#login_btn {
    width: 40%;
}
label,#login_message {
    color: #428bca;
    font-family: 'Roboto', sans-serif;
    
}
